{% extends 'layout.html' %}
{% block content %}
<section class="bg-dark text-light text-center shadow mb-20">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center">{{ current_user.email}}'s user profile</h1>
            </div>
        </div>
    </div>
</section>

<section class="text-center bg-dark text-light">
    <div class="container p-0 bg-dark text-light">
        <div class="row"><br>
            <h3 class="p-4">Here are your profile details</h3>
            <ul class="list-group mb-3">
                <li class="list-group-item">Email: {{ current_user.email }}</li>
                <li class="list-group-item">Token: {{ current_user.token }} </li> 
            </ul>
        </div>
        <!-- <div class="container justify-content-center"> -->
            <div class="row pb-5 m-0 justify-content-center">
                <!-- <div class="col-4"></div> -->
                <div class="d-grid col-4 align-items-center justify-content-center pb-2" id="profile">
                    <img src="../../static/images/bg_googly-dog.jpg" class="img-fluid justify-content-center" alt="dog wearing googley-eye glasses" id="profile_img">
                </div>
            </div>
        <!-- </div> -->
    </div>
</section>
{% endblock %}