{% extends 'layout.html' %}

{% block content %}
    <section id="signup" class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="d-grid col-lg-12 text-center align-items-center justify-content-center">
                    <h2>Create your Account!</h2> 
                    <h4>Start Making Memes Todayヾ(⌐■_■)ノ♪</h4>
                    {% include 'forms.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}